<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="style.css">

    <title>HMP</title>
</head>

<body onload="load()">
    <div class="main">
        <div class="navbar">
            <div class="icon">
                <img class="navimg ml-5 " src="Resources/Hostel-removebg.png" alt="#">
                <h2 class="logo"> Management Portal </h2>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="complaints.html">Complaints </a></li>
                    <li><a href="#">About Us</a></li>
                </ul>
            </div>
        </div>

        <div class="content">

            <div class="form">
                <h2>Login Here</h2>
                <input type="email" name="email" placeholder="Enter Email Here" required>
                <input type="password" name="" placeholder="Enter Password Here" required>
                <button class="btnn"><a href="#">Login</a></button>

                <p class="link">Don't have an account<br>
                    <a href="#">Sign up </a> here</a>
                </p>
                <p class="liw">Log in with google</p>

                <div class="icons">
                    <a href="#">
                        <ion-icon style="align-items:center ;" name="logo-google"></ion-icon>
                    </a>
                    <a href="#">
                        <ion-icon name="logo-facebook"></ion-icon>
                    </a>

                </div>

            </div>
        </div>
        <div class="content" >
            <section class="bg-white ">
                <div class="max-w-screen-xl px-4 py-12 mx-auto my-50px md:py-16 sm:px-6 lg:px-8">
                    <div class="max-w-3xl mx-auto text-center">
                        <h2 class="text-3xl font-bold text-gray-900 sm:text-4xl">
                            Hostel Management made easy!
                        </h2>

                    </div>

                    <div class="mt-8 sm:mt-12">
                        <dl class="grid grid-cols-1 gap-4 sm:grid-cols-3">
                            <div class="flex flex-col px-4 py-8 text-center border border-gray-100 rounded-lg">
                                <dt class="order-last text-lg font-medium text-gray-500">
                                    Total Students
                                </dt>

                                <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl">
                                    <p>
                                        <span id='TS'>200</span>+
                                    </p>
                                </dd>
                            </div>

                            <div class="flex flex-col px-4 py-8 text-center border border-gray-100 rounded-lg">
                                <dt class="order-last text-lg font-medium text-gray-500">
                                    Total Hostels
                                </dt>

                                <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl"><span id='TH'>7</span></dd>
                            </div>

                            <div class="flex flex-col px-4 py-8 text-center border border-gray-100 rounded-lg">
                                <dt class="order-last text-lg font-medium text-gray-500">
                                    Complaints Resolved
                                </dt>

                                <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl">        <p>
                                    <span id='CR'>200</span>+
                                </p></dd>
                            </div>
                            </dl>
                            <div class="hmp1">
                                <img src="Resources/hmp.png" width="560">
                            </div>
                            <dl class="grid grid-cols-1 gap-4 sm:grid-cols-3 ml-72 mr-16">
                                <div class="flex flex-col px-4 py-8 text-center border border-gray-100 rounded-lg">
                                <dt class="order-last text-lg font-medium text-gray-500">
                                    Total Rooms
                                </dt>

                                <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl"><p><span id='TR'>300</span>+</p></dd>
                            </div>
                            <div class="flex flex-col px-4 py-8 text-center border border-gray-100 rounded-lg">
                                <dt class="order-last text-lg font-medium text-gray-500">
                                    Staff Working
                                </dt>

                                <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl">        <p>
                                    <span id='SW'>55</span>+
                                </p></dd>
                            </div>
                        </dl>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <script>
        // var th = 7 ;
        var ts = 213 ;
        var cr = 86 ;
        var tr = 300 ;
        var sw = 55 ; 

        function animate(obj, initVal, lastVal, duration) {
           let startTime = null;
  
        //get the current timestamp and assign it to the currentTime variable
        let currentTime = Date.now();
  
        //pass the current timestamp to the step function
        const step = (currentTime ) => {
  
        //if the start time is null, assign the current time to startTime
        if (!startTime) {
           startTime = currentTime ;
        }
  
        //calculate the value to be used in calculating the number to be displayed
        const progress = Math.min((currentTime - startTime)/ duration, 1);
  
        //calculate what to be displayed using the value gotten above
        obj.innerHTML = Math.floor(progress * (lastVal - initVal) + initVal);
  
        //checking to make sure the counter does not exceed the last value (lastVal)
        if (progress < 1) {
           window.requestAnimationFrame(step);
        } else {
              window.cancelAnimationFrame(window.requestAnimationFrame(step));
           }
        };
        //start animating
           window.requestAnimationFrame(step);
        }
        let text1 = document.getElementById('TS');
        // let text2 = document.getElementById('TH');
        let text3 = document.getElementById('CR');
        let text4 = document.getElementById('TR');
        let text5 = document.getElementById('SW');

        const load = () => {
           animate(text1, 0, ts, 3000);
        //    animate(text2, 0, th , 3000);
           animate(text3, 0, cr, 3000);
           animate(text4, 0, tr, 3000);
           animate(text5, 0, sw, 3000);

        }
     </script>

</body>

</html>