<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="style.css">

    <title>HMP</title>
</head>

<body>

    <div class="main">
        <div class="navbar">
            <div class="icon">
                <img class="navimg" src="Resources/Hostel-removebg.png" alt="#">
                <h2 class="logo"> Management Portal </h2>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/create-complaint">Complaints </a></li>
                </ul>
            </div>
        </div>

        <div class="content">

            <div class="form">
                <h2>Login Here</h2>
                <input type="email" name="email" placeholder="Enter Email Here" required>
                <input type="password" name="" placeholder="Enter Password Here" required>
                <button class="btnn"><a href="#">Login</a></button>

                <p class="link">Don't have an account<br>
                    <a href="#">Sign up </a> here</a>
                </p>
                <p class="liw">Log in with google</p>

                <div class="icons">
                    <a href="#">
                        <ion-icon style="align-items:center ;" name="logo-google"></ion-icon>
                    </a>
                </div>

            </div>
        </div>

        <div class="content">
            <section class="bg-white ">
                <div class="max-w-screen-xl px-4 py-12 mx-auto my-50px md:py-16 sm:px-6 lg:px-8">
                    <div class="max-w-3xl mx-auto text-center">
                        <h2 class="text-3xl font-bold text-gray-900 sm:text-4xl">
                            Hostel Management made easy!
                        </h2>

                    </div>

                    <div class="mt-8 sm:mt-12">
                        <dl class="grid grid-cols-1 gap-4 sm:grid-cols-3">
                            <div class="flex flex-col px-4 py-8 text-center border border-gray-100 rounded-lg">
                                <dt class="order-last text-lg font-medium text-gray-500">
                                    Total Students
                                </dt>

                                <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl">
                                    213+
                                </dd>
                            </div>

                            <div class="flex flex-col px-4 py-8 text-center border border-gray-100 rounded-lg">
                                <dt class="order-last text-lg font-medium text-gray-500">
                                    Total Hostels
                                </dt>

                                <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl">7</dd>
                            </div>

                            <div class="flex flex-col px-4 py-8 text-center border border-gray-100 rounded-lg">
                                <dt class="order-last text-lg font-medium text-gray-500">
                                    Complaints Resolved
                                </dt>

                                <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl">86+</dd>
                            </div>
                            <div class="flex flex-col px-4 py-8 text-center border border-gray-100 rounded-lg">
                                <dt class="order-last text-lg font-medium text-gray-500">
                                    Total Hostels
                                </dt>

                                <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl">7</dd>
                            </div>
                            <div class="flex flex-col px-4 py-8 text-center border border-gray-100 rounded-lg">
                                <dt class="order-last text-lg font-medium text-gray-500">
                                    Staff Working
                                </dt>

                                <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl">55+</dd>
                            </div>
                        </dl>
                        <div class="hmp1">
                            <img src="Resources/hmp.png">
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>

</body>

</html>